@model IEnumerable<GIP.PRJ.TraiteurAppGip1.Models.Order>

@{
    ViewData["Title"] = "Bestelling per klant";
}

<h1>Bestellingen per klant - @ViewBag.CustomerName</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.CustomerId" class="btn btn-success">Nieuwe bestelling</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSlot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeSlot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                </td>
                @if (item.IsPaid)
                {
                    <td>
                        <a asp-action="Invoice" asp-route-id="@item.Id">Factuur</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Aanpassen</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Index" asp-controller="OrderDetails" asp-route-id="@item.Id">Detail overzicht</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a>
                    </td>

                }

            </tr>
        }
    </tbody>
</table>
